{include file="common/mainHead"/}
<style>
.red{
    background:#FFB800;
}
#tj>td{
font-size:18px;font-weight:600;text-align:center
}
#status{
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
</style>

<div class="admin-main fadeInUp animated">
    <blockquote class="layui-elem-quote">

        <div class="layui-form-mid">
            <div class="layui-input-inline ">
                <select id="status" name="status" lay-filter="status">
                    <option value="">请选择</option>
                    <option value="1">待审核</option>
                    <option value="2">已审核</option>
                </select>
            </div>
        </div>

        <form  class="layui-form">

             <div class="layui-input-inline">
                    <input type="text" name="key" id="key" class="layui-input" placeholder="{:lang('pleaseEnter')}姓名！">
                </div>

   <!--              <div class="layui-form-mid layui-word-aux" style="padding:0;">
                        <a href="{:url('autonym')}?is_autonym=0" class="layui-btn">未实名</a>
                    </div>
                <div class="layui-form-mid layui-word-aux" style="padding:0;">
                        <a href="{:url('autonym')}?is_autonym=1" class="layui-btn">已实名</a>
                    </div> -->

            <div class="layui-form-mid layui-word-aux" style="padding:0;">
                    <button type="button" class="layui-btn" id="search">{:lang('search')}</button>
                    <a href="{:url('mention')}" class="layui-btn">显示全部</a>
                </div>
        </form>
    </blockquote>
    <fieldset class="layui-elem-field">

    <table class="layui-table table-hover">
                <thead>
                    <tr>
                       
                    </tr>
                    <tr id="tj"></tr>
                </thead>
        </table>
        <div class="layui-field-box table-responsive">
            <table class="layui-table table-hover">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>昵称</th>
                    <th>凭证</th>
                    <th>申请时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <!--内容容器-->
                <tbody id="con">
                </tbody>
                <tfoot>
                <tr>
                <td colspan="2">
                 <button type="button" class="layui-btn layui-btn-small" onclick="window.history.back();">{:lang('back')}</button>
                </td>
                    <td colspan="10">
                        <!--分页容器-->
                        <div id="paged" style="text-align: right"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </fieldset>
    <div class="shou" style="width: 200px;height: 200px;float: left;display: none;position: absolute;left: 30%;top: 30%; ">
   <button type="button" class="layui-btn" id="test1" style="width: 120px;height: 100px;">
    <input type="hidden" name="up_id">
    <input type="hidden" name="u_id">
    <i class="layui-icon" style="text-align: center;">&#xe67c;</i>上传凭证
    </button>
    </div>
</div>

<!--模板-->
<script type="text/html" id="conTemp">
    {{# layui.each(d.list, function(index, item){ }}
    <tr>
        <td>{{ item.user_id }}</td>

        <td>{{ item.nickname }}</td>
        <td> <div id="layer-photos-demo{{item.user_id}}" onclick="view({{item.user_id}})">
                <img layer-pid="图片id，可以不写" layer-src="{{item.img}}" src="{{item.img}}" alt="{{item.img}}" style="max-width: 70px;">
             </div>
        </td>
        <td>{{getdate(item.time)}}</td>
        <td>{{# if(item.status == 1){ }}
            <a style="color: #5FB878" href="javascript:" title="待审核">
                <div id="zs{{ item.user_id }}">
                   待审核
                </div>
            </a>
            {{# }else{  }}
            <a class="red" href="javascript:"  title="已完成">
                <div id="zs{{ item.user_id }}">
                   已完成
                </div>
            </a>
            {{# } }}
        </td>
        <td>
            {{# if(item.status == 1){ }}
            <a href="javascript:;"  onclick="return tg({{item.id}})" data-id="1" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">审核通过</a> 
            {{# }else{  }}
           
            {{# } }}
            
        </td>
    </tr>
    {{# }); }}
</script>
{include file="common/mainFoot"/}
<script>
    layui.config({
        base: '__ADMIN__/js/'
    }).use(['paging', 'code','icheck','layer'], function() {
        layui.code();
        var paging = layui.paging(),layer = parent.layer === undefined ? layui.layer : parent.layer;
        paging.init({
            url: "{:url('mention')}", //地址
            elem: '#con', //内容容器
            params: {}, //发送到服务端的参数
            tempElem: '#conTemp', //模块容器
            pageConfig: { //分页参数配置
                elem: 'paged', //分页容器
                pageSize: 15 //分页大小
            },
            success: function(msg) { //渲染成功的回调
                //alert('渲染成功');
                // var tj = msg.tj;
                // if(tj){
                // var level = tj.count-tj.level;
                //     var html ='\
                //         <td>'+tj.count+'</td>\
                //         <td>'+level+'</td>\
                //         <td>'+tj.level+'</td>\
                //         <td>'+tj.level1+'</td>\
                //         <td>'+tj.level2+'</td>\
                //         <td>'+tj.level3+'</td>\
                //         <td>'+tj.level4+'</td>\
                //         <td>'+tj.level5+'</td>\
                //         <td>'+tj.g+'</td>\
                //         <td>'+tj.usdt+'</td>\
                //         <td>'+tj.zs+'</td>\
                //         <td>'+tj.xmt+'</td>\
                //         <td>'+tj.nmct_dj+'</td>\
                //         <td>'+tj.nmct+'</td>\
                //         <td>'+tj.g+'</td>\
                //     ';
                // }
                // console.log(tj);
                // $('#tj').html(html);
            },
            fail: function(msg) { //获取数据失败的回调
                //alert('获取数据失败')
            },
            complate: function() { //完成的回调
                //alert('处理完成');
            }
        });
        //搜索
        $('#search').on('click', function() {
            var $this = $(this);
            var key = $('#key').val();
            var status = $('#status').val();
            // if($.trim(key)=='') {
            //     layer.msg('{:lang('pleaseEnter')}关键字！');
            //     return;
            // }
            //调用get方法获取数据
            paging.get({
                key: key, //获取输入的关键字。
                status: status, //获取输入的关键字。
            });
        });
    });
  function tg(id){
        console.log(id)
        if ($('.shou').css('display') == 'none') {
            $('input[name=up_id]').val(id);
            $('.shou').css('display','block');
        }else{
            $('.shou').css('display','none');
        }

        
    }

    layui.use('upload', function(){

  var upload = layui.upload;
// ,uid:function(){return $('input[name=u_id]').val();}
  //执行实例
      var uploadInst = upload.render({
        elem: '#test1' //绑定元素
        ,data:{id:function(){return $('input[name=up_id]').val();}}
        ,url: "{:url('borret/fex')}" //上传接口
        ,accept: 'images' //允许上传的文件类型
        ,number: 1 //允许上传的文件数量
        ,done: function(res){
          //上传完毕回调
           window.location.reload();
          layer.msg(res.msg,{time:3000});
        }
        ,error: function(){
          layer.msg(res.msg,{time:3000});
        }
    });
});

    // function del(id) {
    //     layer.confirm('你确定要删除吗？', {icon: 3}, function (index) {
    //         $.post("{:url('usersDel')}", {id:id},  function (result) {
    //             if(result.status==1){
    //                 layer.alert(result.msg,{icon:6},function(){
    //                     window.location.href = "{:url('index')}";
    //                 });
    //             }else{
    //                 layer.alert(result.msg,{icon:6});
    //             }
    //             return false;
    //         });
    //     });
    // }

    function view(id) {
          layer.photos({
            photos: '#layer-photos-demo'+id
            ,closeBtn: 1
            ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
          }); 
    }
    function getdate(date){
        var date = new Date(date*1000);//如果date为10位不需要乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        var D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate()) + ' ';
        var h = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
        var m = (date.getMinutes() <10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
        var s = (date.getSeconds() <10 ? '0' + date.getSeconds() : date.getSeconds());
        return Y+M+D+h+m+s;
    }
</script>