/*login*/
/* input[type="text"]:-webkit-autofill,input[type="password"],textarea:-webkit-autofill, select:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
      /*border: 1px solid #CCC!important;
    } */
/* 清除记住密码时的高亮*/
input[type="text"],input[type="password"]{
    outline: none;
    border: 0px;
    width: 94%;
    height: 30px;
    margin:0 auto;
    -webkit-appearance: none;
    text-indent: 2.5rem;
    background: transparent;
    color: #000;
	}
	input::-webkit-input-placeholder{
            color:#999;
        }
    input::-moz-placeholder{   /* Mozilla Firefox 19+ */
        color:#999;
    }
    input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
        color:#999;
    }
    input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
        color:#999;
    }
	.reg{
	width: 80%;
    margin: 11rem auto 0;
    background: rgb(55,55,66);
    border-radius: 8px;
    padding-bottom: 30px;
    position: relative;
    box-shadow: 1px 1px 12px -2px rgb(45,45,56);
    padding-top: .2rem;
    padding-left: 1rem;
	}
	.reg>h2{
		font-size: 1.5rem;
	    font-weight: normal;
	    margin-left: 5%;
	    margin-top: 1rem;
	    line-height: 2;
		color: #FAFAFA;
	}
	.reg>div{
		border-bottom: solid 1px #999;
		padding-bottom: .6rem;
		width: 92%;
		position: relative;
		margin:0 auto;
	}
	.reg>div>input{
		margin-top: .6rem;
	}
	.reg>div>i{
		position: absolute;
		width: 1rem;
		display: block;
		left: 0;
		top: 1rem;
	}
	.reg>div>i>img{
		width: 100%;
	}
	.help{
		border: none!important;
    	line-height: 2;
    	padding: 1rem 0 0;
	}
	.help>span{
		text-indent: .6rem;
    	display: inline-block;
	}
	.sub{
	width: 80%!important;
    border-radius: 20px;
    line-height: 39px;
    background: rgb(238,198,127);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    position: absolute!important;
    bottom: -33px;
    z-index: 99;
	padding: 0 !important;
    margin-left: 3%!important;
	border-bottom: none !important;
	}
	.sub_p{
	width:70%;
	margin:0 auto;
	color:#000;
	text-align:center;
	margin-top:35px;	
	position: relative;	
	display: flex;
	justify-content: center;
	}
	.sub_p>span{
		display: block;
		line-height: 2.5;
		width: 50%;
		color: #999;
	}
	.switch{
		text-align: center;
	}
	.switch>span{
		display: block;
		line-height: 4.5;
		color: #666;
		padding:0 2rem;
      	position:relative;
      width:70%;
	}
.switch>span::before{
	content:'';
  	height:1px;
  background:#c9c9c9;
  width:33%;
  left:0;
  top:1.9rem;
  position:absolute;
}
.switch>span::after{
	content:'';
  	height:1px;
  background:#c9c9c9;
  width:33%;
  right:0;
  top:1.9rem;
  position:absolute;
}
	.switch{
		display: flex;
		justify-content: center;
	}
	.cn{
		width: 6rem;
	    position: relative;
	    display: flex;
	    justify-content: baseline;
	    text-align: center;
	    margin: 0 auto;
	}
	.cn a{
		display: block;
		margin: 0 .4rem;
	}
	.cn a img{
		width: 100%;
	}
	
	.login_bg{
	background-size: 100%;
	background: linear-gradient(rgb(46,47,56),rgb(70,73,87));
	overflow-x: hidden;
	position: relative;
	}
	.logbg_top{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	.logbg_top img{
		transform: scale(0.7);
	}

/*注册、找回密码*/
.register{
	width: 84%;
	margin: 11rem auto 0;
	background: rgb(58,58,68);
	border-radius: 8px;
	padding-bottom: 30px;
	position: relative;
	box-shadow: 1px 1px 12px -2px rgb(45,45,56);
	padding-top: .2rem;
	padding-left: 1.5rem;
}
.register h2{
	font-size: 1rem;
	font-weight: normal;
	margin-top: 1rem;
	line-height: 2;
	color: #fff;
}
.register>div{
	position: relative;
	padding: .6rem 0 0.2rem 0;
	overflow: hidden;
	width: 94%;
	display: block;
	border-bottom: solid 2px gray;
}
.register>div>span{
	
}
.register>div>span>input{
	width: 80%!important;
	text-indent: .5rem;
}
.register>div>div.notice_info{
	float: left;
	width: 32%;
	position: relative;
	line-height: 2.5;
}
.register>div>div.notice_info>span{
	padding-left: .2rem;
}

.register>div>div.notice_info>i{
    width: 1rem;
    display: inline-block;
    left: 0;
}
.register>div>div.notice_info>i>img{
	width: 100%;
}
.send_phone{
	position: absolute;
	right: 5%;
	top: 14px;
	color: #FAFAFA;
}
.smz_x{
	position: relative;
    top: 1rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
}
